# Run Php without filename extension
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
 

# Return 404 for all requests
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* - [L,R=404]

